.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.p-table {
  margin-bottom: 20px;
}

.add{
  margin-top: 16px;
}

.icon-btn{
  margin-right: 8px;
}
