.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.contacts-table {
  margin-bottom: 20px;
}

.contacts-table__button {
  margin-right: 8px;
}

.add-contact {
  margin-top: 16px;
}
