<app-header></app-header>
<div class="app-container">
  <div class="search">
    <input class="search__input" type="text" pInputText [(ngModel)]="searchTerm" placeholder="{{ 'CONTACT.ENTER' | translate }}" />
    <button class="search__button" pButton type="button" label="{{ 'CONTACT.SEARCH' | translate }}" (click)="searchContacts()"></button>
  </div>

  <p-table class="contacts-table" [value]="contacts" [scrollable]="true" scrollHeight="350px">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'CONTACT.FIRST_NAME' | translate }}</th>
        <th>{{ 'CONTACT.LAST_NAME' | translate }}</th>
        <th>{{ 'CONTACT.PHONE' | translate }}</th>
        <th>{{ 'CONTACT.ACTIONS' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contact let-rowIndex="rowIndex">
      <tr class="contacts-table__row">
        <td class="contacts-table__cell">{{ contact.firstName }}</td>
        <td class="contacts-table__cell">{{ contact.lastName }}</td>
        <td class="contacts-table__cell">{{ contact.phone }}</td>
        <td class="contacts-table__cell contacts-table__cell--actions">
          <button class="contacts-table__button" pButton type="button" icon="pi pi-eye" (click)="viewContact(contact.id)"></button>
          <button class="contacts-table__button" pButton type="button" icon="pi pi-pencil" (click)="showEditContactDialog(contact.id)"></button>
          <button class="contacts-table__button" pButton type="button" icon="pi pi-trash" (click)="deleteContact(contact.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <button class="add-contact" pButton type="button" label="{{ 'CONTACT.ADD_CONTACT' | translate }}" (click)="showAddContactDialog()"></button>
</div>
