.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  height: 40px;
  margin-right: 10px;
}

.title {
  padding-left: 8px;
  font-size: 14px;
  font-weight: 500;
}
